
.inputFields{
	height:30px;
	border-style:hidden;
	border-bottom-style: solid;
	border-bottom-color: blue;
}
.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  text-align: center;
}

.grid-container > div {
  border-style:hidden;
  background-color: white;
  margin: auto;
  text-align: left;
  box-shadow: 5px 10px #009C6A;
  padding: 10px;
}
.submitButton{
	border-radius: 20px;
	background-image: linear-gradient(45deg, #08DBCB, yellow);
	height: 30px;
	width: 150px;
}
​.item1 { grid-area: left; }
.item2 { grid-area: right; }
​.item3 { grid-area: left1; }
.item4 { grid-area: right1; }
.grid-container1 {
  display: grid;
  grid-template-areas:
    'left right right';
  grid-gap: 10px;
  background-color: #0091B2;
  padding: 10px;
}

.grid-container1 > div {
  padding: 20px 0;
}
.card {
  transition: 0.3s;
  width: 200px;
}


.grid-container2 {
  display: grid;
  grid-template-areas:
    'left1 right1 right1';
  grid-gap: 10px;
}

.grid-container2 > div {
  padding: 20px 0;
}